<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title color="dark">News app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
   <ion-card *ngFor="let article of articles">
      <ion-img [src]="article.urlToImage"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>
          {{article.publishedAt | date}}
        </ion-card-subtitle>
        <ion-card-title>
          {{article.title}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{article.description}}
      </ion-card-content>
   </ion-card>
   
</ion-content>
